<!-- start: YOUR CONTENT HERE -->



<!-- start: INLINE EDIT EXAMPLE -->
<div class="container-fluid container-fullw padding-top-0">
    <div class="row">
        <div class="col-md-12">
                    <div ng-controller="CompanyLocationsCtrl">
                        <div class="row margin-bottom-10">
                            <div class="col-md-12">
                                <button ng-click="tableParams.sorting({})" class="btn btn-o btn-default pull-right">
                                    Clear sorting
                                </button>
                            </div>
                        </div>
<!--                        <strong>Sorting:</strong> {{tableParams.sorting()|json}}-->
                        <div class="table-responsive">
                            <table ng-table="tableParams" class="table">
                                <tbody ng-repeat="location in $data">
                                    <tr id="tr{{company.id}}" ng-class-odd="'odd'" ng-class-even="'even'">
                                        <td class="rowTd" data-title="'ID'" sortable="'id'">{{location.id}}</td>
                                        <td class="rowTd" data-title="'Location Number'" sortable="'locationNumber'">{{location.locationNumber}}</td>
                                        <td class="rowTd" data-title="'City'" sortable="'locationAddressCity'">{{location.locationAddressCity}}</td>
                                        <td class="rowTd" data-title="'State'" sortable="'locationAddressState'">{{location.locationAddressState}}</td>
                                        <td class="rowTd" data-title="'Phone Number'" sortable="'phoneNumber'">{{location.phoneNumber}}</td>
                                        <td class="rowTd" data-title="'Enroll Date'" sortable="'createDate'">{{location.createDate}}</td>
                                        <td class="rowTd" data-title="'End Date'" sortable="'endDate'">{{location.endDate}}</td>
                                        <td class="rowTd">
                                            <div class="pull-right margin-right-10">
                                              <button class="btn btn-default btn-o btn-sm" ui-sref="app.admin.companies.companyprofile"><i class="fa fa-list-alt"></i></button>
                                               <button class="btn btn-primary btn-o btn-sm" id="editRowBtn{{company.id}}" ng-click="setEditId(company.id)"><i class="fa fa-edit"></i></button>
<!--
                                                <input type=button class="btn btn-primary btn-o btn-sm" id="editRowBtn{{company.id}}" value="edit"
                                                       ng-click="setEditId(company.id)">
-->
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-show="editId===company.id" ng-if="editId===company.id">
                                        <td colspan="7" ng-include src="'assets/views/companiesEditRow.html'"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                
            
        </div>
    </div>
</div>
<!-- end: INLINE EDIT EXAMPLE -->





<!-- end: YOUR CONTENT HERE -->