<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
    <h4 class="mainTitle no-margin" >Companies</h4>

    <div ncy-breadcrumb class="pull-right"></div>
</div>
<!-- end: BREADCRUMB -->
<!-- start: YOUR CONTENT HERE -->



<!-- start: INLINE EDIT EXAMPLE -->
<div class="container-fluid container-fullw">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-body">
                    <h5 class="over-title margin-bottom-15"><span class="text-bold">Enrolled Companies</span></h5>
                    <div ng-controller="CompaniesCtrl">
                        <div class="row margin-bottom-10">
                            <div class="col-md-12">
                                <button ng-click="tableParams.sorting({})" class="btn btn-o btn-default pull-right">
                                    Clear sorting
                                </button>
                            </div>
                        </div>
<!--                        <strong>Sorting:</strong> {{tableParams.sorting()|json}}-->
                        <div class="table-responsive">
                            <table ng-table="tableParams" class="table">
                                <tbody ng-repeat="company in $data">
                                    <tr id="tr{{company.id}}" ng-class-odd="'odd'" ng-class-even="'even'">
                                        <td class="rowTd" data-title="'ID'" sortable="'id'">{{company.id}}</td>
                                        <td class="rowTd" data-title="'Company'" sortable="'companyName'">{{company.companyName}}</td>
                                        <td class="rowTd" data-title="'HQ Location'" sortable="'ln'">{{company.hqAddressCity}}, {{company.hqAddressState}}</td>
                                        <td class="rowTd" data-title="'Industry'" sortable="'industry'">{{company.industry}}</td>
                                        <td class="rowTd" data-title="'Enroll Date'" sortable="'joinDate'">{{company.joinDate}}</td>
                                        <td class="rowTd" data-title="'End Date'" sortable="'endDate'">{{company.endDate}}</td>
                                        <td class="rowTd">
                                            <div class="pull-right margin-right-10">
                                              <button class="btn btn-default btn-o btn-sm" ui-sref="app.admin.companyprofile"><i class="fa fa-list-alt"></i></button>
                                               <button class="btn btn-primary btn-o btn-sm" id="editRowBtn{{company.id}}" ng-click="setEditId(company.id)"><i class="fa fa-edit"></i></button>
<!--
                                                <input type=button class="btn btn-primary btn-o btn-sm" id="editRowBtn{{company.id}}" value="edit"
                                                       ng-click="setEditId(company.id)">
-->
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-show="editId===company.id" ng-if="editId===company.id">
                                        <td colspan="7" ng-include src="'assets/views/companiesEditRow.html'"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end: INLINE EDIT EXAMPLE -->





<!-- end: YOUR CONTENT HERE -->